In [1]:
import pymongo

In [17]:
client_con=pymongo.MongoClient("mongodb+srv://pythmongo:pythmongo@cluster0.48frr.mongodb.net/myFirstDatabase?retryWrites=true&w=majority")

In [27]:
db=client_con["telephonedatabase"]

In [28]:
db_col=db["telephone"]

In [62]:
#creating the records
data=[{"name":"annie","phone no":9003494932,"location":"coimbatore","pincode":641004},
      {"name":"shelda","phone no":8870715142,"location":"tirpur","pincode":641009},
      {"name":"pooja","phone no":8876592089,"location":"salem","pincode":641003},
      {"name":"shri","phone no":99945662872,"location":"chennai","pincode":641000},
      {"name":"oreo","phone no":9965588432,"location":"banglore","pincode":641001},
      {"name":"snowly","phone no":8965278923,"location":"pollachi","pincode":641003},
      {"name":"josh","phone no":8838606578,"location":"erode","pincode":641006}]
# inserting the records
db_col.insert_many(data)

In [48]:
#finding the details of a person named "oreo"
x=db_col.find({"name":"oreo"},{"_id":0})
for i in x:
    print(i)

{'name': 'oreo', 'phone no': 9965588432, 'location': 'banglore', 'pincode': 641001}

In [53]:
#finding the pincode for the location "chennai"
x=db_col.find({"location":"chennai"},{"_id":0,"pincode":1})
for i in x:
    print(i)

{'pincode': 641000}

In [55]:
#finding the phone number and location of a person named shri
x=db_col.find({"name":"shri"},{"_id":0,"phone no":1,"location":1})
for i in x:
    print(i)

{'phone no': 99945662872, 'location': 'chennai'}

In [57]:
#finding the person details whose phone number is "9965588432"
x=db_col.find({"phone no":9965588432},{"_id":0})
for i in x:
    print(i)

{'name': 'oreo', 'phone no': 9965588432, 'location': 'banglore', 'pincode': 641001}

In [59]:
#finding the person name whose phone number is "8870715142"
x=db_col.find({"phone no":8870715142},{"_id":0,"name":1})
for i in x:
    print(i)

{'name': 'shelda'}

In [73]:
##updating the phone number of a person named "oreo"
db_col.update_one({"name":"oreo"},{"$set":{"phone no":9003020201}})
record=db_col.find({},{"_id":0})
for i in record:
    print(i)

{'name': 'annie', 'phone no': 9003494932, 'location': 'coimbatore', 'pincode': 641004}
{'name': 'shelda', 'phone no': 8870715142, 'location': 'tirpur', 'pincode': 641009}
{'name': 'pooja', 'phone no': 8876592089, 'location': 'salem', 'pincode': 641003}
{'name': 'shri', 'phone no': 99945662872, 'location': 'chennai', 'pincode': 641000}
{'name': 'oreo', 'phone no': 9003020201, 'location': 'banglore', 'pincode': 641001}
{'name': 'snowly', 'phone no': 8965278923, 'location': 'pollachi', 'pincode': 641003}
{'name': 'josh', 'phone no': 8838606578, 'location': 'erode', 'pincode': 641006}

In [74]:
##updating shri name as shrijaa
db_col.update_one({"name":"shri"},{"$set":{"name":"shrijaa"}})
record=db_col.find({},{"_id":0})
for i in record:
    print(i)

{'name': 'annie', 'phone no': 9003494932, 'location': 'coimbatore', 'pincode': 641004}
{'name': 'shelda', 'phone no': 8870715142, 'location': 'tirpur', 'pincode': 641009}
{'name': 'pooja', 'phone no': 8876592089, 'location': 'salem', 'pincode': 641003}
{'name': 'shrijaa', 'phone no': 99945662872, 'location': 'chennai', 'pincode': 641000}
{'name': 'oreo', 'phone no': 9003020201, 'location': 'banglore', 'pincode': 641001}
{'name': 'snowly', 'phone no': 8965278923, 'location': 'pollachi', 'pincode': 641003}
{'name': 'josh', 'phone no': 8838606578, 'location': 'erode', 'pincode': 641006}

In [75]:
##updating the pincode for erode
db_col.update_one({"location":"erode"},{"$set":{"pincode":"641002"}})
record=db_col.find({},{"_id":0})
for i in record:
    print(i)

{'name': 'annie', 'phone no': 9003494932, 'location': 'coimbatore', 'pincode': 641004}
{'name': 'shelda', 'phone no': 8870715142, 'location': 'tirpur', 'pincode': 641009}
{'name': 'pooja', 'phone no': 8876592089, 'location': 'salem', 'pincode': 641003}
{'name': 'shrijaa', 'phone no': 99945662872, 'location': 'chennai', 'pincode': 641000}
{'name': 'oreo', 'phone no': 9003020201, 'location': 'banglore', 'pincode': 641001}
{'name': 'snowly', 'phone no': 8965278923, 'location': 'pollachi', 'pincode': 641003}
{'name': 'josh', 'phone no': 8838606578, 'location': 'erode', 'pincode': '641002'}

In [79]:
###deleting the record of person named pooja
db_col.delete_one({"name":"pooja"})
record=db_col.find({},{"_id":0})
for i in record:
    print(i)

{'name': 'annie', 'phone no': 9003494932, 'location': 'coimbatore', 'pincode': 641004}
{'name': 'shelda', 'phone no': 8870715142, 'location': 'tirpur', 'pincode': 641009}
{'name': 'shrijaa', 'phone no': 99945662872, 'location': 'chennai', 'pincode': 641000}
{'name': 'oreo', 'phone no': 9003020201, 'location': 'banglore', 'pincode': 641001}
{'name': 'snowly', 'phone no': 8965278923, 'location': 'pollachi', 'pincode': 641003}
{'name': 'josh', 'phone no': 8838606578, 'location': 'erode', 'pincode': '641002'}

In [80]:
###deleting the record of person having a phone number "8838606578"
db_col.delete_one({"phone no":8838606578})
record=db_col.find({},{"_id":0})
for i in record:
    print(i)

{'name': 'annie', 'phone no': 9003494932, 'location': 'coimbatore', 'pincode': 641004}
{'name': 'shelda', 'phone no': 8870715142, 'location': 'tirpur', 'pincode': 641009}
{'name': 'shrijaa', 'phone no': 99945662872, 'location': 'chennai', 'pincode': 641000}
{'name': 'oreo', 'phone no': 9003020201, 'location': 'banglore', 'pincode': 641001}
{'name': 'snowly', 'phone no': 8965278923, 'location': 'pollachi', 'pincode': 641003}